.banner {
width: 1280px;
height: 150px;
padding-top: 48px;
padding-bottom: 48px;
background: var(--green, rgba(97, 187, 97, 1));
padding-top: 48px;
padding-bottom: 48px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: white;
box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25) inset;

}
 
.banner h1 {
  
font-weight: 700;
font-style: Bold;
font-size: 56px;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-decoration: underline;
text-decoration-style: solid;

text-decoration-thickness: 0%;

}

.banner p {
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

  }
  
  /* профиль */
.banner--profile {
width: 1280;
height: 348;
opacity: 1;
padding-top: 48px;
padding-right: 16px;
padding-bottom: 48px;
padding-left: 16px;
background: var(--black, rgba(51, 51, 51, 1));
 margin: 0 auto;  

}

.banner__avatar {
 width: 132;
height: 132;
min-width: 24px;
min-height: 24px;
gap: 10px;
opacity: 1;
border-radius: 64px;

}

.banner__username {
  margin-bottom: 0.5rem;
  width: 122;
height: 36;
opacity: 1;

}

.banner__likes {
  width: 120;
height: 44;
min-width: 120px;
gap: 8px;
opacity: 1;
border-radius: radius;
border-width: 1px;
padding-top: 10px;
padding-right: 12px;
padding-bottom: 10px;
padding-left: 12px;
border: 1px solid var(--green, rgba(97, 187, 97, 1));
background: var(--black, rgba(51, 51, 51, 1));

}
.likes-count {
 color:rgba(97, 187, 97, 1)
}


.banner--article {
 width: 1280;
height: 282;
opacity: 1;
padding-top: 48px;
padding-right: 16px;
padding-bottom: 48px;
padding-left: 16px;
background: var(--black, rgba(51, 51, 51, 1));


}
 
.banner__content {
  width: 800;
height: 186;
max-width: 800px;
gap: 10px;
opacity: 1;
padding: 10px;
position: relative;
}
.banner__author {
  font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
background: rgba(92, 184, 92, 1);
flex-direction: column;
display: flex;
}

.banner__avatar {
  width: 24;
height: 24;
min-width: 24px;
min-height: 24px;
gap: 10px;
opacity: 1;
border-radius: 64px;
border-width: 1px;
border: 1px solid var(--white, rgba(255, 255, 255, 1))

}

.banner__meta {
width: 124;
height: 36;
gap: 10px;
position: absolute;
left: 20px;
bottom: 20px;
opacity: 1;
display: flex;
align-items: center;
gap: 12px;

}

.banner__username {
  font-weight: 500;
}

.banner__date {
 font-weight: 400;
font-size: 12.8px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
background: var(--grey, rgba(170, 170, 170, 1));

}

