.card {
  position: relative; 
  max-width: 600px; 
  background-color: rgb(247, 248, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
   padding: 40px 20px 20px; /* место сверху под кнопку */
  border: 1px double rgb(82, 81, 81);
  border-radius: 8px;
}

.like {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px double rgb(97, 223, 124);
  background: rgb(247, 248, 247);
  border-radius: 6px;
  color: rgb(97, 223, 124);
}
 
.like:disabled {
  opacity: 0.5;
  color: rgb(97, 223, 124);
  border-color: rgb(97, 223, 124);
}