.article-card {
  border: 1px solid #e5e5e5;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  background: #fff;
}

/* верхняя строка */
.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* автор */
.author {
  display: flex;
  gap: 8px;
  align-items: center;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.name {
  color: #5cb85c;
  font-weight: 500;
}

.date {
  font-size: 12px;
  color: #bbb;
}

/* лайк */
.like-btn {
  border: 1px solid #5cb85c;
  background: transparent;
  color: #5cb85c;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: default;
}

.like-btn:disabled {
  opacity: 0.5;
  color: rgb(97, 223, 124);
  border-color: rgb(97, 223, 124);
}

/* тело */
.preview-link {
  display: block;
  margin-top: 12px;
  text-decoration: none;
  color: inherit;
}

.preview-link h2 {
  margin: 0 0 8px;
}

.preview-link p {
  color: #999;
}

 .tag-list li {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 12px;
  color: #aaa;
}
