
.pagination {
  display: flex;
  justify-content: center; /* центрируем весь блок */
  align-items: center;     /* выравнивание по вертикали */
  gap: 10px;               /* расстояние между кнопками и span */
  margin-top: 20px;        /* отступ от карточек */
  flex-wrap: wrap;         /* чтобы на маленьких экранах кнопки не уходили за край */
}

.pagination_btn {
  border: 1px double rgb(97, 223, 124);
  border-radius: 3px;
  color: rgb(97, 223, 124);
  padding: 6px 12px;
  cursor: pointer;
  background-color: white;
  transition: 0.2s;
}

.pagination_btn:hover:not(:disabled) {
  background-color: rgb(97, 223, 124);
  color: white;
}

.pagination_btn:disabled {
  opacity: 0.5;
  border: 1px double rgb(102, 109, 103);
  cursor: not-allowed;
}
