.article-actions {
  display: flex;
  gap: 12px;
 margin-top: 12px;
}

.article-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
  border-top: 1px solid #ddd;
  padding-top: 12px;
  text-align: center;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.author-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.author-name {
  font-family: Source Sans Pro;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
vertical-align: middle;
color: rgba(92, 184, 92, 1);
width: 90px;
height: 20px;
opacity: 1;

}

.author-date {
  font-family: Source Sans Pro;
font-weight: 400;
font-style: Regular;
font-size: 12.8px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: var(--grey, rgba(170, 170, 170, 1));
display: flex;
  align-items: center;
  gap: 8px;

}

.favorite-btn,
.article-actions button {
  padding: 6px 12px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 112;
height: 32;
gap: 8px;
opacity: 1;
font-family: Source Sans Pro;
font-weight: 400;
font-style: Regular;
font-size: 12.8px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;


}

.favorite-btn:hover,
.article-actions button:hover {
  background-color: #4cae4c;
}