
.container {
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
    gap: 16px;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.popular-tags {
    width: 100%;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--grey, rgba(170, 170, 170, 1));
    padding: 16px 10px;
    margin: 16px 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    
}

.tag {
    padding: 6px 16px;
    border-radius: 12px;
    border: 1px solid var(--grey, rgba(170, 170, 170, 1));
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 12.8px;
    color: var(--grey, rgba(170, 170, 170, 1));
    background: #fff;
}

