/*Форма регистрации*/

.auth-page form {
  display: flex;
  position: relative; 
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-items: center;
}

.auth-page input {
     width: 200px;
     border: 1px double rgb(97, 223, 124);
  background: rgb(247, 248, 247);
  border-radius: 6px;
  color: rgb(97, 223, 124);
}
.auth-page button {
  width: 50px;
   display: flex;
  justify-content: center;
  border: 1px double rgb(97, 223, 124);
  border-radius: 6px;
  color: rgb(97, 223, 124);
}

/*Форма входа*/
.login-page form {
  display: flex;
  position: relative; 
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-items: center;
}

.login-page input {
     width: 200px;
     border: 1px double rgb(97, 223, 124);
  background: rgb(247, 248, 247);
  border-radius: 6px;
  color: rgb(97, 223, 124);
}

.login-page button {
  width: 50px;
   display: flex;
  justify-content: center;
  border: 1px double rgb(97, 223, 124);
  border-radius: 6px;
  color: rgb(97, 223, 124);
}

/*Форма редактирование профиля*/
.prof_change {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column; 
  gap: 8px;               
  margin-bottom: 20px;    
}
.new_input{
  width: 200px;
  border: 1px double rgb(97, 223, 124);
  background: rgb(247, 248, 247);
  border-radius: 3px;
 margin: 0 auto;
}

/* Стили для лейбла */
.form-group label {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

/* Стили для ошибок, чтобы они не «прилипали» */
.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.save_btn {
  border: 1px double rgb(97, 223, 124);
  background: rgb(247, 248, 247);
  border-radius: 6px;
  color: rgb(97, 223, 124);
}