.header {
 width: 100%;
  height: 100px;
  background-color: rgb(97, 223, 124);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.header:h1 {
  margin: 0;
}

.header .user-info {
  
  display: flex;
  position: absolute;
  top: 100px;
  right: 50px;
  gap: 30px; /* расстояние между именем и кнопкой */
}

.header .user-info span {
  font-weight: bold;

}